<div class="new-entry">
  <div class="date">
    <h1><%= date %></h1>
  </div>

  <div class="new-rating rating-info">
    <form id="rating-form">

      <% var ratings = ["overall", "sleep", "exercise", "diet", "social"] %>
      <% ratings.forEach(function(name) { %>
        <div class="<%= name %>-field">
          <label for="rating-<%= name %>"><h3><%= name %>: </h3></label>
          <input type="range" id="rating-<%= name %>" name="day[rating_attributes][<%= name %>_rating]"
            min="0" max="10" value="9" step=".01">
      <% }) %>
      <div class="submit">
        <button type="button" id="new-rating" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <div class="back">
    <button type="button" class="btn btn-secondary">
      <a class="btn btn-secondary" href="#/days/<%= last.id %>">Previous Entries</a>
    </button>
  </div>

</div>
