<h1><%= model.escape("date") %></h1>
<h3>Overall: <%= model.get("rating").escape("overall_rating") %></h3>
<h3>Sleep Rating: <%= model.get("rating").escape("sleep_rating") %></h3>
<h3>Diet Rating: <%= model.get("rating").escape("diet_rating") %></h3>
<h3>Exercise Rating: <%= model.get("rating").escape("exercise_rating") %></h3>
<h3>Social Rating: <%= model.get("rating").escape("social_rating") %></h3>
