<div class="day-show">
  <div class="day-text">
    <div class="day-info">
      <div class="day-date">
        <h1><%= model.escape("date") %></h1>
      </div>
      <% var rating = this.model.get("rating") %>
      <% var readableNames = rating.readableNames() %>
      <% rating.ratingNames().forEach(function(name, idx) { %>
        <div class="bar-name" data-bar-name="<%= name %>">
          <h3><%= readableNames[idx] %>: <%= String(rating.get(name)).slice(0, 4) %></h3>
        </div>
      <% }) %>
    </div>

    <div class="navigation-arrows">
      <span class="left-arrow">
        <% if (previous) { %>
          <a href="#/days/<%= previous.id %>"><strong><<</strong></a>
        <% } %>
      </span>
      <span class="right-arrow">
        <% if (next) { %>
          <a href="#/days/<%= next.id %>"><strong>>></strong></a>
        <% } %>
      </span>
    </div>
  </div>

  <div class="single-day-graph"></div>
</div>
