<div class="day-show">

  <div class="navigation-arrows panel">
    <span class="left-arrow">
      <% if (previous) { %>
        <a class="arrow btn btn-primary pull-left" href="#/days/<%= previous.id %>"><strong><<</strong></a>
      <% } %>
    </span>
    <span class="right-arrow">
      <% if (next) { %>
        <a class="arrow btn btn-primary pull-right" href="#/days/<%= next.id %>"><strong>>></strong></a>
      <% } %>
    </span>
  </div>

  <div class="day-date date panel">
    <h2><%= model.escape("date") %></h2>
  </div>

  <div class="rating-text pull-left">
    <div class="rating-info">
      <% var rating = this.model.get("rating") %>
      <% var readableNames = rating.readableNames() %>
      <% rating.ratingNames().forEach(function(name, idx) { %>
        <div class="bar-name panel" data-bar-name="<%= name %>">
          <h3><%= readableNames[idx] %>: <%= String(rating.get(name)).slice(0, 4) %></h3>
        </div>
      <% }) %>
    </div>
  </div>


  <div class="single-day-graph panel pull-right"></div>
</div>
