<h1><%= model.escape("date") %></h1>
<h3>Overall: <%= model.get("rating").escape("overall_rating").slice(0, 4) %></h3>
<h3>Sleep Rating: <%= model.get("rating").escape("sleep_rating").slice(0, 4) %></h3>
<h3>Diet Rating: <%= model.get("rating").escape("diet_rating").slice(0, 4) %></h3>
<h3>Exercise Rating: <%= model.get("rating").escape("exercise_rating").slice(0, 4) %></h3>
<h3>Social Rating: <%= model.get("rating").escape("social_rating").slice(0, 4) %></h3>
