<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Happ" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Happ" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="container">
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><strong>Happ</strong></a>

      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li id="days-index"><a href="#">Entries</a></li>
          <li id="days-summary"><a href="#/summary">Summary</a></li>
        </ul>
      </div>

    </div>
  </div>

    <%= yield %>
  </body>
</html>
