<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Happ" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Happ" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#"><strong>Happ</strong></a>
          <ul class="nav">
            <li class="divider-vertical"></li>
            <li id="days-index"><a href="#">Entries</a></li>
            <li class="divider-vertical"></li>
            <li id="days-summary"><a href="#/summary">Summary</a></li>
            <li class="divider-vertical"></li>
        </div>
      </div>

    </div>
    <%= yield %>
  </body>
</html>
